<!DOCTYPE html>
<html>

<head>
  <title>Demo app</title>
</head>

<body>
  <div id="app">
    <div class="info">
      <h1>@eliaspourquoi/vue-map</h1>
      <a href="https://github.com/nestarz/vue-map">https://github.com/nestarz/vue-map</a>
      <ul>
        <li>1. Canvas</li>
        <li>2. SVG</li>
      </ul>
      <pre>
          <code>
  &lt;map-composable
    :projection=&quot;projection&quot;
    :projection-config=&quot;projectionConfig&quot;
    :canvas=&quot;true&quot;
  &gt;
    &lt;template v-slot:default=&quot;{path, projectionFunc}&quot;&gt;
      &lt;map-graticule fill=&quot;white&quot; stroke=&quot;black&quot; :stroke-width=&quot;5&quot;&gt;&lt;/map-graticule&gt;
      &lt;map-sphere stroke=&quot;black&quot; :stroke-width=&quot;2&quot;&gt;&lt;/map-sphere&gt;
      &lt;map-geographies
        :geography=&quot;geoUrl&quot;
        :path=&quot;path&quot;
      &gt;
        &lt;template v-slot:default=&quot;{geographies}&quot;&gt;
          &lt;map-geography
            v-for=&quot;geo in geographies&quot;
            :key=&quot;geo.rsmKey&quot;
            :geography=&quot;geo&quot;
            fill=&quot;white&quot;
            stroke=&quot;black&quot;
          &gt;&lt;/geography&gt;
        &lt;/template&gt;
      &lt;/map-geographies&gt;
      &lt;map-line :from=&quot;[10, 1]&quot; :to=&quot;[-100, 120]&quot; stroke=&quot;red&quot;&gt;&lt;/map-line&gt;
      &lt;map-annotation :subject=&quot;[0, 1]&quot; :dx=&quot;-40&quot; :dy=&quot;20&quot;&gt;
        &lt;text :x=&quot;-8&quot;&gt;Annotation&lt;/text&gt;
      &lt;/map-annotation&gt;
      &lt;map-marker :coordinates=&quot;[10,1]&quot;&gt;
        &lt;circle r=&quot;8&quot; fill=&quot;black&quot; /&gt;
      &lt;/map-marker&gt;
    &lt;/template&gt;
  &lt;/map-composable&gt;
        </code>
        </pre>
    </div>
    <div v-for="x in 2" :key="x" class="container">
      <map-composable :projection="projection" :projection-config="projectionConfig" :canvas="x === 1">
        <template v-slot:default="{path, projectionFunc}">
          <map-graticule fill="transparent" stroke="black" clip-path="url(#rsm-sphere)" :stroke-width="5">
          </map-graticule>
          <map-sphere stroke="black" :stroke-width="2"></map-sphere>
          <map-geographies :geography="geoUrl" :path="path">
            <template v-slot:default="{geographies}">
              <map-geography v-for="geo in geographies" :key="geo.rsmKey" :geography="geo" fill="white" stroke="black"
                clipPath="url(#rsm-sphere)"></map-geography>
              <map-line :from="[10, 1]" :to="[-100, 120]" stroke="red"></map-line>
              <map-annotation :subject="[0, 1]" :dx="-40" :dy="20" text="Annotation">
                <text :x="-8">Annotation</text>
              </map-annotation>
              <map-marker :coordinates="[x,y]" r="1" fill="black" v-for="{x,y} in randomMarkers">
                <circle r="1" fill="black" />
              </map-marker>
            </template>
          </map-geographies>
        </template>
      </map-composable>
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
<script src="https://unpkg.com/@vue/composition-api@0.5.0/dist/vue-composition-api.umd.js"></script>
<script>
  Vue.use(vueCompositionApi.default);
</script>
<script src="https://unpkg.com/d3@5.12.0/dist/d3.min.js"></script>
<script src="../dist/VueMap.iife.js"></script>
<script>
  Vue.use(VueMap.default);
  var app = new Vue({
    el: "#app",
    setup() {
      const rotate = vueCompositionApi.reactive({
        x: 0,
        y: 0
      })
      const projectionConfig = vueCompositionApi.computed(() => ({
        rotate: [rotate.x, rotate.y],
        scale: 200
      }))
      const animate = () => {
        rotate.x = rotate.x + 1;
        rotate.y = rotate.y - 0.1;
        requestAnimationFrame(animate);
      }
      // requestAnimationFrame(animate);
      return {
        projectionConfig,
        projection: "geoOrthographic",
        geoUrl:
          "./word-110m.json",
        width: window.innerWidth,
        height: window.innerHeight,
        randomMarkers: [...Array(1000).keys()].map(x => ({ x: Math.random() * 280, y: Math.random() * 280 }))
      };
    }
  });
</script>

</html>


<style>
  div,
  html,
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  #app {
    display: grid;
  }

  a {
    color: black;
  }

  .container {
  }

  .info {
    position: fixed;
    padding: 1rem;
    pointer-events: none;
  }

  p,
  h1,
  li,
  ul,
  a {
    pointer-events: all;
    width: max-content;
    margin: 0;
    padding: 0;
  }

  ul {
    list-style: none;
    margin-top: .25rem;
  }
</style>
